@charset "UTF-8";
/* 
    Document   : styles.css
    Created on : 06.07.2012, 12:21:59
    Author     : Christian Foellmann (foe-services.de)
    Description:
        Basis was css-code from the "ISPConfig 3: default theme" which was based on
        "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework 3.0.6
        by Copyright 2005-2008, Dirk Jesse (http://www.yaml.de)
*/

/* overall
   border-bottom: 1px #eee solid;
}
textarea, pre, tt, code {
    font-family: Consolas,"Lucida Console","Courier New",monospace;
    font-size: 0.9em;	
}

h1,h2,h3,h4,h5,h6 { 
    font-family: "Trebuchet MS", sans-serif;
    font-weight:bold; 
    color:#666;
    margin: 0 0 0.25em 0; 
}
}
.skip, .hideme, .print {
    height: 1px;
    left: -1000em;
    position: absolute;
    top: -1000em;
    width: 1px;
}

/* header
-------------------------------------------------------------- */


/* footer
-------------------------------------------------------------- */

footer { 
    color:#666; 
    background: #f9f9f9;
    padding: 10px 20px;
    border-top: 5px #efefef solid;
    font-size: 0.8em;
    text-align: center;
}
footer a {
    color: #999;
    background:transparent;
    font-weight: bold;
}
footer a:hover, footer a:active {
    color: #4D87C7; 
    background-color: transparent; 
    text-decoration:underline;
}




.tbl_col_client_pid input {
    width: 50px;
}
.pnl_listarea th[class^="tbl_col"] { cursor:pointer; }
.pnl_listarea th[class^="tbl_col"]:hover { background-position:0 -15px!important; }
.pnl_listarea th.tbl_col_nosort { cursor:default; }
.pnl_listarea th.tbl_col_nosort:hover { background-position:0 0!important; }

.pageForm_description { font-size: 12px; }

/* Tab-Box */
.tabbox_tabs { border-bottom: 1px solid #d3d3d3; }
.tabbox_tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tabbox_tabs li {
    display: inline;
    margin: 0 2px 0 0;
}
.tabbox_tabs a {
    padding: 0 1em;
    text-decoration: none;
    color: black;
    background: #d3d3d3;
    border: 1px solid #d3d3d3;
}
.tabbox_tabs a:hover {
    background: #fc0;
    color: #540;
}
.tabbox_tabs .active a {
    font-weight: bold;
    color: #ff6600;
    background: #ffffff;
}
.pnl_toolsarea fieldset, .pnl_listarea fieldset, .pnl_formsarea fieldset {
    border-top: 1px solid #949494;
    margin: 20px 0;
}
.pnl_toolsarea fieldset legend , .pnl_listarea fieldset legend {
    font-weight: bold;
    color: #6299c5;
}
.pnl_formarea fieldset {
    font-weight: bold;
}
/* hide line and legend when inside tabbed content */
#tabbox_content * .pnl_toolsarea fieldset, #tabbox_content * .pnl_listarea fieldset, #tabbox_content * .pnl_formsarea fieldset { border: none !important; }
#tabbox_content * .pnl_toolsarea fieldset legend, #tabbox_content * .pnl_listarea fieldset legend, #tabbox_content * .pnl_formsarea fieldset legend { display: none !important; }
.codeview {
    margin:20px 0;
    padding:2px;
    border: 1px solid #ffcc00;
    background: #fffaea;
    font-family: Consolas, "Lucida Console", "Courier New", monospace;
    font-size: 0.9em;
}
/* Lists */
/* Password Strength */
#passBar {
    width: 101px; height: 10px;
    background: url("../images/meter_bg.gif") repeat-x bottom left;
    margin: 2px 0;
    float: left;
}
#passText {
    padding: 0;
    float: left;
}

/* Systemmonitor */
.systemmonitor-server,
.systemmonitor-ve,
.systemmonitor-state {
    margin: 10px 5px;
    font-family: Consolas, "Lucida Console", "Courier New", monospace;
    font-size: 0.9em;
    float: left;
    width: 100%;
}
.systemmonitor-server:hover,
.systemmonitor-vm:hover { background-color: #FFFACD; }
.state-no_state,
.state-no_state-ve {
    border-top: 4px solid #95A19F;
    background-color: #f8f8ff;
}
.state-unknown,
.state-unknown-ve {
    border-top: 4px solid #30302e;
    background-color: #cecfc5;
}
.state-ok,
.state-ok-ve {
    border-top: 4px solid #23fb00;
    background-color: #adffa2;
}
.state-info,
.state-info-ve {
    border-top: 4px solid #183e99;
    background-color: #d4e2ff;
}
.state-warning,
.state-warning-ve {
    border-top: 4px solid #ffa800;
    background-color: #ffda93;
}
.state-critical,
.state-critical-ve {
    border-top: 4px solid #ff0000;
    background-color: #ffb9b9;
}
.state-error,
.state-error-ve {
    border-top: 4px solid #ff0000;
    background-color: #ff7f7f;
}       
div.icoDevice {
    float: left;
    width: 64px;
    height: 64px;
    margin: 5px;
    background: url("../icons/device_sprite.png") no-repeat transparent;
}
.systemmonitor-server div.icoDevice { background-position: 0 0; }
.systemmonitor-ve div.icoDevice { background-position: -64px 0; }
.systemmonitor-network div.icoDevice { background-position: -128px 0; }
div.statusDevice,
div.statusMsg { float: left; }
div.statusMsg p { 
    float: left;
    padding: 5px;
}
.systemmonitor-state .status {
    margin: 5px;
}
.status {
    float: right;
    width: 32px;
    height: 32px;
    background: url("../icons/x32_sprite.png") no-repeat transparent;
}
div.status {
    float: left !important;
}
.state-warning .status,
.state-warning-ve .status { background-position: 0 -143px; }
.state-no_state .status,
.state-no_state-ve .status,
.state-unknown .status,
.state-unknown-ve .status { background-position: 0 -207px; }
.state-ok .status,
.state-ok-ve .status { background-position: 0 -270px; }
.state-info .status,
.state-info-ve .status { background-position: 0 -336px; }
.state-error .status,
.state-error-ve .status { background-position: 0 -400px; }
.state-critical .status,
.state-critical-ve .status { background-position: 0 -463px; }

/* Usage unknown  
.systemmonitor-content table {
    border: none;
    margin-top: 10px;
}

.systemmonitor-content * .online {
    border: 1px solid #ffffff;
    background-color: #E3FFB8;
    color: #000000;
    padding:0px 5px;
}
.systemmonitor-content * .offline {
    border: 1px solid #ffffff;
    background-color: #d12f19; 
    color:#ffffff;
    padding:0px 5px;
}*/



/* Image-Replacement */
.swap { background-repeat:no-repeat; }
.swap span { display:none; height:16px; } 
#ir-HeaderLogo {
    background-image: url("../images/header_logo.png");
    height:32px;
    margin:0 0 0.2em;
} 
div#ir-Yes,
div#ir-No {
    text-align: center;
    background: url("../icons/x16_sprite.png") no-repeat transparent;
}
#ir-Yes {
    background-position: center -342px !important;
    height: 16px;
}
#ir-No {
    background-position: center -362px !important;
    height: 16px;
}
.swap {
    background-repeat: no-repeat;
}
.swap span {
    display: none;
    height: 16px;
}
/* BUTTONS */
a.button,
.button,
.buttons button {
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    color: #525252;
    text-shadow: 0px 1px 1px #fff;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
    -o-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(140, 140, 140, 0.3);
    text-decoration: none;
}
a.button:focus,
input.button:focus,
.buttons button:focus {
    border-color: #4fadd5;
    box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
    -moz-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
    -webkit-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
    -o-box-shadow: 0 0 2px 1px rgba(71,135,177, 0.6);
    outline: none;
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
    white-space: nowrap;
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img,
.buttons a img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
.topbuttons {
    margin-bottom: 10px;
}
/* BUTTONS STANDARD */
button:hover,
.buttons a:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active {
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* BUTTONS POSITIVE */
button.positive,
.buttons a.positive { color:#529214; }
.buttons a.positive:hover,
button.positive:hover {
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active {
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* BUTTONS NEGATIVE */
.buttons a.negative,
button.negative {
    color:#d12f19;
}
.buttons a.negative:hover,
button.negative:hover {
    background-color:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active {
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* Button with icon and text */
.iconstxt { background: url("../icons/button_sprite.png") no-repeat transparent; }

.iconstxt.icoPositive { background-position: 6px -130px; }
.iconstxt.icoNegative { background-position: 6px -98px; }
.iconstxt.icoAdd { background-position: 6px -66px; }
.iconstxt.icoKey { background-position: 6px -1px; }
.iconstxt.icoDelete { background-position: 6px -34px; }
.iconstxt.icoDownload { background-position: 6px -1px; }
.iconstxt.icoRestore { background-position: 6px -1px; }

/* Button with icon and without text */
.icons16 { position: relative; }
.icons16>span {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
    position: absolute;
    right: 23px;
    top: -1px;
    padding: 1px 2px;
    border: 1px solid rgb(155,155,11);
    background: rgb(255,255,111);
    white-space: nowrap;
}
.icons16:hover>span {
    opacity: 1.0;
    visibility: visible;
}
a.icons16 {
    height: 18px;
    width: 18px;
    padding: 0;
    background: url("../icons/x16_sprite.png") no-repeat transparent;
}
button.icons16 {
    height: 20px;
    width: 20px;
    padding: 0;
    background: url("../icons/x16_sprite.png") no-repeat transparent;
}
.icons16.icoEdit { background-position: -1px -1px; }
.icons16.icoLoginAs { background-position: -1px -21px; }
.icons16.icoPDF { background-position: -1px -61px; }
.icons16.icoDelete { background-position: -1px -81px; }
.icons16.icoWebmailer { background-position: -1px -101px; }
.icons16.icoFilter { background-position: -1px -161px; }
.icons16.icoDbAdmin { background-position: -1px -221px; }
.icons16.icoAction { background-position: -1px -241px; }
.icons16.icoLink { background-position: -1px -422px; float: right; }

div.group-icon {
    float: left;
    padding: 2px 0;
}
.group-admin,
.group-user {
    height: 20px;
    width: 20px;
    padding: 0;
    float: left;
    background: url("../icons/x16_sprite.png") no-repeat transparent;
}
.group-admin { background-position: 0 -380px; }
.group-user { background-position: 0 -400px; }

span.marked { color: #cc0000; }
span.small { font-size: 0.9em; }

#ajaxloader {
    position: absolute;
    width: 325px;
    height: 150px;
    background: #ffffff url('../images/ajax-loader.gif') no-repeat center center;
    border: solid 2px #e1e1e1;
    border-radius: 10px;
    /*background: rgba(255, 255, 255, 0.85);*/
    padding: 20px;
    text-align:center;
    z-index: 100;
}
.blockLabel.email_at {
    width: 20px !important;
    margin: 1.6em 0.3em 0 0 !important;
}
.textDisplay { display: block; }

/* Form Length Classes */
.textInput.formLengthBool { width: 25px !important; }
.selectInput.formLengthBool { width: 60px !important; }
.textInput.formLengthLimit { width: 50px !important; }
.selectInput.formLengthLimit { width: 85px !important; }
.formLengthDate { width: 75px !important; }
.formLengthIPv4 { width: 125px !important; }
.formLengthIPv6 { }
.formLengthEmailUser { width: 30% !important; }
.formLengthEmailDomain { width: 30% !important; }
.formLengthHalf { width: 15% !important; }
.formLengthDouble { width: 50% !important; }

/* Individual Form Lengths */
.textInput#username, 
.textInput#password,
.textInput#passwort,
.textInput#source_password { width: 100px; }
.selectInput#language {	width: 75px; }
.selectInput#client_group_id, .selectInput#default_group { width: 125px; }
input#refresh, input#retry, input#expire, input#minimum, input#ttl { width: 50px !important; }

/* --- */


/* Select Menu with Images */
select.withicons option {
    background-repeat:no-repeat;
    background-position: 1px;
    padding-left:24px;
}	
div[class^=country-] {
    background-image: url("../icons/flags_sprite.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 26px;
}
li[class^=country-] {
    background-image: url("../icons/flags_sprite.png");
    background-repeat: no-repeat;
    text-indent: 24px;
}
li[class^=country-] a.ui-state-hover { background: transparent; }
div[class^=country-] span {
    display: none;
}
select.flags option {
    background-image: url("../icons/flags_sprite.png");
    background-repeat: no-repeat;
    padding: 1px 0 1px 30px;
}
select.flags option[value=EL] {background-position:0 -1475px}
select.flags option[value=AD], select.flags option[value=ad], .country-AD {background-position:0 -1px}
select.flags option[value=AE], select.flags option[value=ae], .country-AE {background-position:0 -23px}
select.flags option[value=AF], select.flags option[value=af], .country-AF {background-position:0 -45px}
select.flags option[value=AG], select.flags option[value=ag], .country-AG {background-position:0 -67px}
select.flags option[value=AI], select.flags option[value=ai], .country-AI {background-position:0 -89px}
select.flags option[value=AL], select.flags option[value=al], .country-AL {background-position:0 -111px}
select.flags option[value=AM], select.flags option[value=am], .country-AM {background-position:0 -133px}
select.flags option[value=AN], select.flags option[value=an], .country-AN {background-position:0 -155px}
select.flags option[value=AO], select.flags option[value=ao], .country-AO {background-position:0 -177px}
select.flags option[value=AQ], select.flags option[value=aq], .country-AQ {background-position:0 -199px}
select.flags option[value=AR], select.flags option[value=ar], .country-AR {background-position:0 -221px}
select.flags option[value=AS], select.flags option[value=as], .country-AS {background-position:0 -243px}
select.flags option[value=AT], select.flags option[value=at], .country-AT {background-position:0 -265px}
select.flags option[value=AU], select.flags option[value=au], .country-AU {background-position:0 -287px}
select.flags option[value=AW], select.flags option[value=aw], .country-AW {background-position:0 -309px}
select.flags option[value=AX], select.flags option[value=ax], .country-AX {background-position:0 -331px}
select.flags option[value=AZ], select.flags option[value=az], .country-AZ {background-position:0 -353px}
select.flags option[value=BA], select.flags option[value=ba], .country-BA {background-position:0 -375px}
select.flags option[value=BB], select.flags option[value=bb], .country-BB {background-position:0 -397px}
select.flags option[value=BD], select.flags option[value=bd], .country-BD {background-position:0 -419px}
select.flags option[value=BE], select.flags option[value=be], .country-BE {background-position:0 -441px}
select.flags option[value=BF], select.flags option[value=bf], .country-BF {background-position:0 -463px}
select.flags option[value=BG], select.flags option[value=bg], .country-BG {background-position:0 -485px}
select.flags option[value=BH], select.flags option[value=bh], .country-BH {background-position:0 -507px}
select.flags option[value=BI], select.flags option[value=bi], .country-BI {background-position:0 -529px}
select.flags option[value=BJ], select.flags option[value=bj], .country-BJ {background-position:0 -551px}
select.flags option[value=BM], select.flags option[value=bm], .country-BM {background-position:0 -573px}
select.flags option[value=BN], select.flags option[value=bn], .country-BN {background-position:0 -595px}
select.flags option[value=BO], select.flags option[value=bo], .country-BO {background-position:0 -617px}
select.flags option[value=BR], select.flags option[value=br], .country-BR {background-position:0 -639px}
select.flags option[value=BS], select.flags option[value=bs], .country-BS {background-position:0 -661px}
select.flags option[value=BT], select.flags option[value=bt], .country-BT {background-position:0 -683px}
select.flags option[value=BV], select.flags option[value=bv], .country-BV {background-position:0 -705px}
select.flags option[value=BW], select.flags option[value=bw], .country-BW {background-position:0 -727px}
select.flags option[value=BY], select.flags option[value=by], .country-BY {background-position:0 -749px}
select.flags option[value=BZ], select.flags option[value=bz], .country-BZ {background-position:0 -771px}
select.flags option[value=CA], select.flags option[value=ca], .country-CA {background-position:0 -793px}
select.flags option[value=CC], select.flags option[value=cc], .country-CC {background-position:0 -837px}
select.flags option[value=CD], select.flags option[value=cd], .country-CD {background-position:0 -859px}
select.flags option[value=CF], select.flags option[value=cf], .country-CF {background-position:0 -881px}
select.flags option[value=CG], select.flags option[value=cg], .country-CG {background-position:0 -903px}
select.flags option[value=CH], select.flags option[value=ch], .country-CH {background-position:0 -925px}
select.flags option[value=CI], select.flags option[value=ci], .country-CI {background-position:0 -947px}
select.flags option[value=CK], select.flags option[value=ck], .country-CK {background-position:0 -969px}
select.flags option[value=CL], select.flags option[value=cl], .country-CL {background-position:0 -991px}
select.flags option[value=CM], select.flags option[value=cm], .country-CM {background-position:0 -1013px}
select.flags option[value=CN], select.flags option[value=cn], .country-CN {background-position:0 -1035px}
select.flags option[value=CO], select.flags option[value=co], .country-CO {background-position:0 -1057px}
select.flags option[value=CR], select.flags option[value=cr], .country-CR {background-position:0 -1079px}
select.flags option[value=CS], select.flags option[value=cs], .country-CS {background-position:0 -1101px}
select.flags option[value=CU], select.flags option[value=cu], .country-CU {background-position:0 -1123px}
select.flags option[value=CV], select.flags option[value=cv], .country-CV {background-position:0 -1145px}
select.flags option[value=CX], select.flags option[value=cx], .country-CX {background-position:0 -1167px}
select.flags option[value=CY], select.flags option[value=cy], .country-CY {background-position:0 -1189px}
select.flags option[value=CZ], select.flags option[value=cz], .country-CZ {background-position:0 -1211px}
select.flags option[value=DE], select.flags option[value=de], .country-DE {background-position:0 -1233px}
select.flags option[value=DJ], select.flags option[value=dj], .country-DJ {background-position:0 -1255px}
select.flags option[value=DK], select.flags option[value=dk], .country-DK {background-position:0 -1277px}
select.flags option[value=DM], select.flags option[value=dm], .country-DM {background-position:0 -1299px}
select.flags option[value=DO], select.flags option[value=do], .country-DO {background-position:0 -1321px}
select.flags option[value=DZ], select.flags option[value=dz], .country-DZ {background-position:0 -1343px}
select.flags option[value=EC], select.flags option[value=ec], .country-EC {background-position:0 -1365px}
select.flags option[value=EE], select.flags option[value=ee], .country-EE {background-position:0 -1387px}
select.flags option[value=EG], select.flags option[value=eg], .country-EG {background-position:0 -1409px}
select.flags option[value=EH], select.flags option[value=eh], .country-EH {background-position:0 -1431px}
select.flags option[value=ER], select.flags option[value=er], .country-ER {background-position:0 -1475px}
select.flags option[value=ES], select.flags option[value=es], .country-ES {background-position:0 -1497px}
select.flags option[value=ET], select.flags option[value=ET], select.flags option[value=et], .country-ET {background-position:0 -1519px}
select.flags option[value=FI], select.flags option[value=fi], .country-FI {background-position:0 -1585px}
select.flags option[value=FJ], select.flags option[value=fj], .country-FJ {background-position:0 -1607px}
select.flags option[value=FK], select.flags option[value=fk], .country-FK {background-position:0 -1629px}
select.flags option[value=FM], select.flags option[value=fm], .country-FM {background-position:0 -1651px}
select.flags option[value=FO], select.flags option[value=fo], .country-FO {background-position:0 -1673px}
select.flags option[value=FR], select.flags option[value=fr], .country-FR {background-position:0 -1695px}
select.flags option[value=GA], select.flags option[value=ga], .country-GA {background-position:0 -1717px}
select.flags option[value=GB], select.flags option[value=en], select.flags option[value=gb], .country-GB, .country-EN {background-position:0 -1739px}
select.flags option[value=GD], select.flags option[value=gd], .country-GD {background-position:0 -1761px}
select.flags option[value=GE], select.flags option[value=ge], .country-GE {background-position:0 -1783px}
select.flags option[value=GF], select.flags option[value=gf], .country-GF {background-position:0 -1805px}
select.flags option[value=GH], select.flags option[value=gh], .country-GH {background-position:0 -1827px}
select.flags option[value=GI], select.flags option[value=gi], .country-GI {background-position:0 -1849px}
select.flags option[value=GL], select.flags option[value=gl], .country-GL {background-position:0 -1871px}
select.flags option[value=GM], select.flags option[value=gm], .country-GM {background-position:0 -1893px}
select.flags option[value=GN], select.flags option[value=gn], .country-GN {background-position:0 -1915px}
select.flags option[value=GP], select.flags option[value=gp], .country-GP {background-position:0 -1937px}
select.flags option[value=GQ], select.flags option[value=gq], .country-GQ {background-position:0 -1959px}
select.flags option[value=GR], select.flags option[value=el], select.flags option[value=gr], .country-GR, .country-EL {background-position:0 -1981px}
select.flags option[value=GS], select.flags option[value=gs], .country-GS {background-position:0 -2003px}
select.flags option[value=GT], select.flags option[value=gt], .country-GT {background-position:0 -2025px}
select.flags option[value=GU], select.flags option[value=gu], .country-GU {background-position:0 -2047px}
select.flags option[value=GW], select.flags option[value=gw], .country-GW {background-position:0 -2069px}
select.flags option[value=GY], select.flags option[value=gy], .country-GY {background-position:0 -2091px}
select.flags option[value=HK], select.flags option[value=hk], .country-HK {background-position:0 -2113px}
select.flags option[value=HM], select.flags option[value=hm], .country-HM {background-position:0 -2135px}
select.flags option[value=HN], select.flags option[value=hn], .country-HN {background-position:0 -2157px}
select.flags option[value=HR], select.flags option[value=hr], .country-HR {background-position:0 -2179px}
select.flags option[value=HT], select.flags option[value=ht], .country-HT {background-position:0 -2201px}
select.flags option[value=HU], select.flags option[value=hu], .country-HU {background-position:0 -2223px}
select.flags option[value=ID], select.flags option[value=id], .country-ID {background-position:0 -2245px}
select.flags option[value=IE], select.flags option[value=ie], .country-IE {background-position:0 -2267px}
select.flags option[value=IL], select.flags option[value=il], .country-IL {background-position:0 -2289px}
select.flags option[value=IN], select.flags option[value=in], .country-IN {background-position:0 -2311px}
select.flags option[value=IO], select.flags option[value=io], .country-IO {background-position:0 -2333px}
select.flags option[value=IQ], select.flags option[value=iq], .country-IQ {background-position:0 -2355px}
select.flags option[value=IR], select.flags option[value=ir], .country-IR {background-position:0 -2377px}
select.flags option[value=IS], select.flags option[value=is], .country-IS {background-position:0 -2399px}
select.flags option[value=IT], select.flags option[value=it], .country-IT {background-position:0 -2421px}
select.flags option[value=JM], select.flags option[value=jm], .country-JM {background-position:0 -2443px}
select.flags option[value=JO], select.flags option[value=jo], .country-JO {background-position:0 -2465px}
select.flags option[value=JP], select.flags option[value=ja], select.flags option[value=jp], .country-JP, .country-JA {background-position:0 -2487px}
select.flags option[value=KE], select.flags option[value=ke], .country-KE {background-position:0 -2509px}
select.flags option[value=KG], select.flags option[value=kg], .country-KG {background-position:0 -2531px}
select.flags option[value=KH], select.flags option[value=kh], .country-KH {background-position:0 -2553px}
select.flags option[value=KI], select.flags option[value=ki], .country-KI {background-position:0 -2575px}
select.flags option[value=KM], select.flags option[value=km], .country-KM {background-position:0 -2597px}
select.flags option[value=KN], select.flags option[value=kn], .country-KN {background-position:0 -2619px}
select.flags option[value=KP], select.flags option[value=kp], .country-KP {background-position:0 -2641px}
select.flags option[value=KR], select.flags option[value=kr], .country-KR {background-position:0 -2663px}
select.flags option[value=KW], select.flags option[value=kw], .country-KW {background-position:0 -2685px}
select.flags option[value=KY], select.flags option[value=ky], .country-KY {background-position:0 -2707px}
select.flags option[value=KZ], select.flags option[value=kz], .country-KZ {background-position:0 -2729px}
select.flags option[value=LA], select.flags option[value=la], .country-LA {background-position:0 -2751px}
select.flags option[value=LB], select.flags option[value=lb], .country-LB {background-position:0 -2773px}
select.flags option[value=LC], select.flags option[value=lc], .country-LC {background-position:0 -2795px}
select.flags option[value=LI], select.flags option[value=li], .country-LI {background-position:0 -2817px}
select.flags option[value=LK], select.flags option[value=lk], .country-LK {background-position:0 -2839px}
select.flags option[value=LR], select.flags option[value=lr], .country-LR {background-position:0 -2861px}
select.flags option[value=LS], select.flags option[value=ls], .country-LS {background-position:0 -2883px}
select.flags option[value=LT], select.flags option[value=lt], .country-LT {background-position:0 -2905px}
select.flags option[value=LU], select.flags option[value=lu], .country-LU {background-position:0 -2927px}
select.flags option[value=LV], select.flags option[value=lv], .country-LV {background-position:0 -2949px}
select.flags option[value=LY], select.flags option[value=ly], .country-LY {background-position:0 -2971px}
select.flags option[value=MA], select.flags option[value=ma], .country-MA {background-position:0 -2993px}
select.flags option[value=MC], select.flags option[value=mc], .country-MC {background-position:0 -3015px}
select.flags option[value=MD], select.flags option[value=md], .country-MD {background-position:0 -3037px}
select.flags option[value=ME], select.flags option[value=me], .country-ME {background-position:0 -3059px}
select.flags option[value=MG], select.flags option[value=mg], .country-MG {background-position:0 -3081px}
select.flags option[value=MH], select.flags option[value=mh], .country-MH {background-position:0 -3103px}
select.flags option[value=MK], select.flags option[value=mk], .country-MK {background-position:0 -3125px}
select.flags option[value=ML], select.flags option[value=ml], .country-ML {background-position:0 -3147px}
select.flags option[value=MM], select.flags option[value=mm], .country-MM {background-position:0 -3169px}
select.flags option[value=MN], select.flags option[value=mn], .country-MN {background-position:0 -3191px}
select.flags option[value=MO], select.flags option[value=mo], .country-MO {background-position:0 -3213px}
select.flags option[value=MP], select.flags option[value=mp], .country-MP {background-position:0 -3235px}
select.flags option[value=MQ], select.flags option[value=mq], .country-MQ {background-position:0 -3257px}
select.flags option[value=MR], select.flags option[value=mr], .country-MR {background-position:0 -3279px}
select.flags option[value=MS], select.flags option[value=ms], .country-MS {background-position:0 -3301px}
select.flags option[value=MT], select.flags option[value=mt], .country-MT {background-position:0 -3323px}
select.flags option[value=MU], select.flags option[value=mu], .country-MU {background-position:0 -3345px}
select.flags option[value=MV], select.flags option[value=mv], .country-MV {background-position:0 -3367px}
select.flags option[value=MW], select.flags option[value=mw], .country-MW {background-position:0 -3389px}
select.flags option[value=MX], select.flags option[value=mx], .country-MX {background-position:0 -3411px}
select.flags option[value=MY], select.flags option[value=my], .country-MY {background-position:0 -3433px}
select.flags option[value=MZ], select.flags option[value=mz], .country-MZ {background-position:0 -3455px}
select.flags option[value=NA], select.flags option[value=na], .country-NA {background-position:0 -3477px}
select.flags option[value=NC], select.flags option[value=nc], .country-NC {background-position:0 -3499px}
select.flags option[value=NE], select.flags option[value=ne], .country-NE {background-position:0 -3521px}
select.flags option[value=NF], select.flags option[value=nf], .country-NF {background-position:0 -3543px}
select.flags option[value=NG], select.flags option[value=ng], .country-NG {background-position:0 -3565px}
select.flags option[value=NI], select.flags option[value=ni], .country-NI {background-position:0 -3587px}
select.flags option[value=NL], select.flags option[value=nl], .country-NL {background-position:0 -3609px}
select.flags option[value=NO], select.flags option[value=no], .country-NO {background-position:0 -3631px}
select.flags option[value=NP], select.flags option[value=np], .country-NP {background-position:0 -3653px}
select.flags option[value=NR], select.flags option[value=nr], .country-NR {background-position:0 -3675px}
select.flags option[value=NU], select.flags option[value=nu], .country-NU {background-position:0 -3697px}
select.flags option[value=NZ], select.flags option[value=nz], .country-NZ {background-position:0 -3719px}
select.flags option[value=OM], select.flags option[value=om], .country-OM {background-position:0 -3741px}
select.flags option[value=PA], select.flags option[value=pa], .country-PA {background-position:0 -3763px}
select.flags option[value=PE], select.flags option[value=pe], .country-PE {background-position:0 -3785px}
select.flags option[value=PF], select.flags option[value=pf], .country-PF {background-position:0 -3807px}
select.flags option[value=PG], select.flags option[value=pg], .country-PG {background-position:0 -3829px}
select.flags option[value=PH], select.flags option[value=ph], .country-PH {background-position:0 -3851px}
select.flags option[value=PK], select.flags option[value=pk], .country-PK {background-position:0 -3873px}
select.flags option[value=PL], select.flags option[value=pl], .country-PL {background-position:0 -3895px}
select.flags option[value=PM], select.flags option[value=pm], .country-PM {background-position:0 -3917px}
select.flags option[value=PN], select.flags option[value=pn], .country-PN {background-position:0 -3939px}
select.flags option[value=PR], select.flags option[value=pr], .country-PR {background-position:0 -3961px}
select.flags option[value=PS], select.flags option[value=ps], .country-PS {background-position:0 -3983px}
select.flags option[value=PT], select.flags option[value=pt], .country-PT {background-position:0 -4005px}
select.flags option[value=PW], select.flags option[value=pw], .country-PW {background-position:0 -4027px}
select.flags option[value=PY], select.flags option[value=py], .country-PY {background-position:0 -4049px}
select.flags option[value=QA], select.flags option[value=qa], .country-QA {background-position:0 -4071px}
select.flags option[value=RE], select.flags option[value=re], .country-RE {background-position:0 -4093px}
select.flags option[value=RO], select.flags option[value=ro], .country-RO {background-position:0 -4115px}
select.flags option[value=RS], select.flags option[value=rs], .country-RS {background-position:0 -4137px}
select.flags option[value=RU], select.flags option[value=ru], .country-RU {background-position:0 -4159px}
select.flags option[value=RW], select.flags option[value=rw], .country-RW {background-position:0 -4181px}
select.flags option[value=SA], select.flags option[value=sa], .country-SA {background-position:0 -4203px}
select.flags option[value=SB], select.flags option[value=sb], .country-SB {background-position:0 -4225px}
select.flags option[value=SC], select.flags option[value=sc], .country-SC {background-position:0 -4247px}
select.flags option[value=SD], select.flags option[value=sd], .country-SD {background-position:0 -4291px}
select.flags option[value=SE], select.flags option[value=se], .country-SE {background-position:0 -4313px}
select.flags option[value=SG], select.flags option[value=sg], .country-SG {background-position:0 -4335px}
select.flags option[value=SH], select.flags option[value=sh], .country-SH {background-position:0 -4357px}
select.flags option[value=SI], select.flags option[value=si], .country-SI {background-position:0 -4379px}
select.flags option[value=SJ], select.flags option[value=sj], .country-SJ {background-position:0 -4401px}
select.flags option[value=SK], select.flags option[value=sk], .country-SK {background-position:0 -4423px}
select.flags option[value=SL], select.flags option[value=sl], .country-SL {background-position:0 -4445px}
select.flags option[value=SM], select.flags option[value=sm], .country-SM {background-position:0 -4467px}
select.flags option[value=SN], select.flags option[value=sn], .country-SN {background-position:0 -4489px}
select.flags option[value=SO], select.flags option[value=so], .country-SO {background-position:0 -4511px}
select.flags option[value=SR], select.flags option[value=sr], .country-SR {background-position:0 -4533px}
select.flags option[value=ST], select.flags option[value=st], .country-ST {background-position:0 -4555px}
select.flags option[value=SV], select.flags option[value=sv], .country-SV {background-position:0 -4577px}
select.flags option[value=SY], select.flags option[value=sy], .country-SY {background-position:0 -4599px}
select.flags option[value=SZ], select.flags option[value=sz], .country-SZ {background-position:0 -4621px}
select.flags option[value=TC], select.flags option[value=tc], .country-TC {background-position:0 -4643px}
select.flags option[value=TD], select.flags option[value=td], .country-TD {background-position:0 -4665px}
select.flags option[value=TF], select.flags option[value=tf], .country-TF {background-position:0 -4687px}
select.flags option[value=TG], select.flags option[value=tg], .country-TG {background-position:0 -4709px}
select.flags option[value=TH], select.flags option[value=th], .country-TH {background-position:0 -4731px}
select.flags option[value=TJ], select.flags option[value=tj], .country-TJ {background-position:0 -4753px}
select.flags option[value=TK], select.flags option[value=tk], .country-TK {background-position:0 -4775px}
select.flags option[value=TL], select.flags option[value=tl], .country-TL {background-position:0 -4797px}
select.flags option[value=TM], select.flags option[value=tm], .country-TM {background-position:0 -4819px}
select.flags option[value=TN], select.flags option[value=tn], .country-TN {background-position:0 -4841px}
select.flags option[value=TO], select.flags option[value=to], .country-TO {background-position:0 -4863px}
select.flags option[value=TR], select.flags option[value=tr], .country-TR {background-position:0 -4885px}
select.flags option[value=TT], select.flags option[value=tt], .country-TT {background-position:0 -4907px}
select.flags option[value=TV], select.flags option[value=tv], .country-TV {background-position:0 -4929px}
select.flags option[value=TW], select.flags option[value=tw], .country-TW {background-position:0 -4951px}
select.flags option[value=TZ], select.flags option[value=tz], .country-TZ {background-position:0 -4973px}
select.flags option[value=UA], select.flags option[value=ua], .country-UA {background-position:0 -4995px}
select.flags option[value=UG], select.flags option[value=ug], .country-UG {background-position:0 -5017px}
select.flags option[value=UM], select.flags option[value=um], .country-UM {background-position:0 -5039px}
select.flags option[value=US], select.flags option[value=us], .country-US {background-position:0 -5061px}
select.flags option[value=UY], select.flags option[value=uy], .country-UY {background-position:0 -5083px}
select.flags option[value=UZ], select.flags option[value=uz], .country-UZ {background-position:0 -5105px}
select.flags option[value=VA], select.flags option[value=va], .country-VA {background-position:0 -5127px}
select.flags option[value=VC], select.flags option[value=vc], .country-VC {background-position:0 -5149px}
select.flags option[value=VE], select.flags option[value=ve], .country-VE {background-position:0 -5171px}
select.flags option[value=VG], select.flags option[value=vg], .country-VG {background-position:0 -5193px}
select.flags option[value=VI], select.flags option[value=vi], .country-VI {background-position:0 -5215px}
select.flags option[value=VN], select.flags option[value=vn], .country-VN {background-position:0 -5237px}
select.flags option[value=VU], select.flags option[value=vu], .country-VU {background-position:0 -5259px}
select.flags option[value=WF], select.flags option[value=wf], .country-WF {background-position:0 -5303px}
select.flags option[value=WS], select.flags option[value=ws], .country-WS {background-position:0 -5325px}
select.flags option[value=YE], select.flags option[value=ye], .country-YE {background-position:0 -5347px}
select.flags option[value=YT], select.flags option[value=yt], .country-YT {background-position:0 -5369px}
select.flags option[value=ZA], select.flags option[value=za], .country-ZA {background-position:0 -5391px}
select.flags option[value=ZM], select.flags option[value=zm], .country-ZM {background-position:0 -5413px}
select.flags option[value=ZW], select.flags option[value=zw], .country-ZW {background-position:0 -5435px}

.panel_login {
    max-width: 80%;
    min-width: 680px;
}
div.subsectiontoggle {
    border:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    padding-top:10px;
    padding-bottom:0;
    margin-top:5px;
    text-indent:15px;
    cursor:pointer;
    margin-bottom:10px;
    background-color:#f4f4f4;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
}
div.subsectiontoggle span {
    display:inline-block;
    margin-bottom:-3px;
    margin-right:10px;
    width:16px;
    height:16px;
    background: url("../icons/button_sprite.png") 0 -72px no-repeat transparent;
}
div.subsectiontoggle span.showing{
    background-position: 0 -40px;
}
div.subsectiontoggle em {
    display:block;
    position:relative;
    left:425px;
    top:-13px;
    margin-bottom:-3px;
    width:13px;
    height:13px;
    background:url("../images/chevron.png") top left no-repeat;
    -webkit-transform:none;
    -moz-transform:none;
    -khtml-transform:none;
    -o-transform:none;
    -ms-transform:none;
    transform:none;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -khtml-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -khtml-transition-property: -khtml-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}
div.subsectiontoggle em.showing {
    display:block;
    position:relative;
    left:425px;
    top:-13px;
    background:url("../images/chevron.png") top left no-repeat;
    width:13px;
    height:13px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -khtml-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}
div.subsectiontoggle:hover em {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -khtml-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}




div.df-container {
}
div.df-container * {
    margin: 0;
    padding: 0;
    background-position: 0 0;
    text-decoration: none;
    font-size: 1em;
}
div.df-container input {
}
input.df-loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center right;
}
ul.df-resultbox {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 250px;
    max-width: 500px;
    z-index: 999999;
    border: 1px solid #777;
    font-size: 11px;
    background: #fff;
    -moz-box-shadow: 2px 2px 5px 0 #c5c5c5;
    -webkit-box-shadow: 2px 2px 5px 0 #c5c5c5;
    -khtml-box-shadow: 2px 2px 5px 0 #c5c5c5;
    -o-box-shadow: 2px 2px 5px 0 #c5c5c5;
    -ms-box-shadow: 2px 2px 5px 0 #c5c5c5;
    box-shadow: 2px 2px 5px 0 #c5c5c5;
    list-style: none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
}
ul.df-resultbox li {
    float: left;
    width: 100%;
    clear: both;
    cursor: pointer;
}
ul.df-resultbox li.df-cheader {
    height: 13px;
    overflow: hidden;
    padding: 5px 0;
    color: #fff;
    background: #6ea6d1;
    cursor:default;
    padding-bottom:10px;
}
ul.df-resultbox li.df-cheader p.df-cheader-title {
    margin: 0 !important;
    padding: 0 0 0 10px !important;
    float: left;
    font-size: 12px;
    font-weight: bold;
}
ul.df-resultbox li.df-cheader p.df-cheader-limit {
    margin: 0 !important;
    padding: 0 10px 0 0 !important;
    float: right;
    font-size: 11px;
    font-weight: normal;
}
ul.df-resultbox li.df-cdata {
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #c5c5c5;
}
ul.df-resultbox li.df-cdata:last-child {
    border-bottom: none;
}
ul.df-resultbox li.df-cdata:hover {
    background: #eaf4fd;
}
ul.df-resultbox li.df-cdata a {
    display: block;
    padding: 5px 10px;
    text-decoration: none !important;
    background: #fff;
}
ul.df-resultbox li.df-cdata a:hover {
    background: #cde0ff;
}
ul.df-resultbox li.df-cdata img {
    margin-right: 12px;
}
ul.df-resultbox li.df-cdata p {
    margin: 0 !important;
    padding: 0 !important;
    color: #444;
    font-size: 10px;
    min-height:30px;
}
ul.df-resultbox li.df-cdata p span.df-cdata-title {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}
ul.df-resultbox li:first-child {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -khtml-border-radius:5px 5px 0 0;
    -o-border-radius:5px 5px 0 0;
    -ms-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}
ul.df-resultbox li:last-child {
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -khtml-border-radius:0 0 5px 5px;
    -o-border-radius:0 0 5px 5px;
    -ms-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}

span.icons16-empty {
    float:left;
    display:block;
    height:20px;
    width:20px;
    margin:0 7px 0 0;
}

.ttip {
    width:16px;
    height:16px;
    cursor:pointer;
    background: url("../icons/x16_sprite.png") no-repeat -2px -42px transparent;
    float:right;
    display:inline;
    position:relative;
    right:-2px;
    top:-2px;
}

p.prefix {
    float: left;
    margin: 0;
    text-align: right;
}
p.label {
    float: left;
    margin: 5px 15px 0 0;
}
p.value {
    float:left;
    margin: 0 0 0 2px;
}

/* content_ispc
-------------------------------------------------------------- */
.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
}
.tipsy-inner {
    background-color: #000;
    color: #FFF;
    max-width: 350px;
    padding: 5px 8px 4px 8px;
    text-align: left;
}

/* Rounded corners */
.tipsy-inner {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #000;
}
/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* uni-form-generic
-------------------------------------------------------------- */

/* Uni-Form by Dragan Babic [Superawesome Industries]  - http: //sprawsm.com/uni-form/ */ 
/* Some rights reserved - http: //creativecommons.org/licenses/by-sa/2.5/ */
/* Do not edit this file directly, make your changes to uni-form.css in the same folder */

.uniForm{ margin: 0; padding: 0; position: relative; z-index: 1; } /* reset stuff */

/* Some generals and more resets */
.uniForm fieldset{ border: none; margin: 0; padding: 0; }
.uniForm fieldset legend{ margin: 0; padding: 0; }

/* This is the main unit that contains our form elements */
.uniForm .ctrlHolder,
.uniForm .buttonHolder{ margin: 0; padding: 0; clear: both; }

/* Clear all floats */ 
.uniForm:after,
.uniForm .buttonHolder:after, 
.uniForm .ctrlHolder:after, 
.uniForm .ctrlHolder .multiField:after,
.uniForm .inlineLabel:after{ content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }

/* A class to be used on a label that contains a checkbox or a radio button */
.uniForm .inlineLabel,
.uniForm .inlineLabels .inlineLabel,
.uniForm .blockLabels .inlineLabel{ width: auto; float: none; margin: 0; display: block; }
/* IE shows borders & padding on checkboxes and radio buttons if they are declared on an input element, remove them */
/* Legacy/Inheritance fix */
.uniForm .inlineLabel input,
.uniForm .inlineLabels .inlineLabel input,
.uniForm .blockLabels .inlineLabel input{ border: none; padding: 0; margin: 0; }

/* Styles for form controls where labels are above the input elements */
/* Set the class of the parent (preferably to a fieldset) to .blockLabels */

.uniForm label,
.uniForm .label,
.uniForm .blockLabels label,
.uniForm .blockLabels .label{ display: block; float: none; padding: 0; line-height: 100%; width: auto; }

/* Float the input elements */
.uniForm .textInput,
.uniForm .blockLabels .textInput,
.uniForm .blockLabels .fileUpload,
.uniForm .selectInput,
.uniForm .blockLabels .selectInput,
.uniForm .blockLabels select,
.uniForm textarea,
.uniForm .blockLabels textarea{ float: left; }

/* Postition the hints */
.uniForm .formHint,
.uniForm .blockLabels .formHint{ float: right; margin: 0; clear: none; }

/* Position the elements inside combo boxes (multiple selects/checkboxes/radio buttons per unit) */
.uniForm .multiField,
.uniForm .blockLabels .multiField{ width: auto; float: left; }
.uniForm .multiField .inlineLabel,
.uniForm .blockLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
.uniForm .multiField .blockLabel,
.uniForm .blockLabels .multiField .blockLabel{ float: left; width: auto; margin: 0; }
.uniForm .multiField .blockLabel .textInput,
.uniForm .multiField .blockLabel .selectInput,
.uniForm .multiField .blockLabel select,
.uniForm .blockLabels .multiField .blockLabel .textInput,
.uniForm .blockLabels .multiField .blockLabel .selectInput,
.uniForm .blockLabels .multiField .blockLabel select{ width: 100%; margin: 0; }

/* Styles for form controls where labels are in line with the input elements */
/* Set the class of the parent (preferably to a fieldset) to .inlineLabels */
.uniForm .inlineLabels label,
.uniForm .inlineLabels .label{ float: left; margin: 0; padding: 0; line-height: 100%; position: relative; }

/* Float the input elements */
.uniForm .inlineLabels .textInput,
.uniForm .inlineLabels .fileUpload,        
.uniForm .inlineLabels .selectInput,
.uniForm .inlineLabels select,
.uniForm .inlineLabels textarea{ float: left; }

/* Postition the hints */
.uniForm .inlineLabels .formHint{ clear: both; float: none; }
.uniForm .inlineLabels .multiField{ float: left; }
.uniForm .inlineLabels .multiField .inlineLabel{}
.uniForm .inlineLabels .multiField .blockLabel{}
.uniForm .inlineLabels .multiField .blockLabel .textInput,
.uniForm .inlineLabels .multiField .blockLabel .selectInput,
.uniForm .inlineLabels .multiField .blockLabel select{ display: block; width: 100%; float: none; }
.uniForm .inlineLabels .multiField select{ float: left; }

/* Required fields asterisk styling for .blockLabels */
.uniForm label em,
.uniForm .label em,
.uniForm .blockLabels label em,
.uniForm .blockLabels .label em{ position: absolute; left: -7px; }

/* Required fields asterisk styling for .inlineLabels */
.uniForm .inlineLabels label em,
.uniForm .inlineLabels .label em{ display: block; position: absolute; left: auto; right: 0; font-style: normal; font-weight: bold; }
.uniForm .inlineLabel em{ position: absolute; left: 7px; }

/* Messages */
.uniForm #errorMsg,
.uniForm .error{}
.uniForm #errorMsg dt,
.uniForm #errorMsg h3{}
.uniForm #errorMsg dd{}
.uniForm #errorMsg ol{}
.uniForm #errorMsg ol li{}
.uniForm .errorField{}
.uniForm #OKMsg{}

/* Columns */

.uniForm .col{ float: left; }
.uniForm .col.first{}
.uniForm .col.last{}

/* uni-form
-------------------------------------------------------------- */

/* Keep in mind that wherever you see "Required property" it means that the property must exist */

/* ------------------------------------------------------------------------------ */

/* Generals */
.uniForm fieldset{}
.uniForm fieldset legend{ color: #333; font-weight: bold; font-size: 100%; margin: 0; padding: 1.5em 1.5em 1.5em 0; }

/* This is the main unit that contains our form elements */
.uniForm .ctrlHolder{ padding: 3px; border-bottom: 1px dotted #dfdfdf; }

.uniForm .buttonHolder{ 
    text-align: left; 
    background: #CEDEEF url("../images/buttonHolder_bg.gif") no-repeat right;
    margin: 3em 0 1em;
    padding: 8px;
}
.uniForm .resetButton{ float: left; }
.uniForm .primaryAction{ font-weight: bold; }

/* This class gets added to div.ctrlHolder to highlight the row */
.uniForm .focused{ background: #fffcdf; }

/* .inlineLabel is used for inputs within labels - checkboxes and radio buttons */
.uniForm .inlineLabel input,
.uniForm .inlineLabels .inlineLabel input,
.uniForm .blockLabels .inlineLabel input{ float: left; margin: 0 .4em 0 0; }
.uniForm .inlineLabel span{ float: left; width: 90%; }

/* ------------------------------------------------------------------------------ */

/* .blockLabels (default style, will be applied even if you don"t class the parent element) */
.uniForm .blockLabels .ctrlHolder{}

.uniForm label,
.uniForm .blockLabels label,
.uniForm .blockLabels .label{ margin: 0 0 .5em 0; }

.uniForm .textInput,
.uniForm .blockLabels .textInput,
.uniForm .blockLabels .fileUpload{ width: 43%; /* <- Required property */ }

.uniForm .selectInput,
.uniForm select,
.uniForm .blockLabels .selectInput,
.uniForm .blockLabels select{ width: 43.5%; /* <- Required property */ }
.uniForm textarea,
.uniForm .blockLabels textarea{ width: 43%; /* <- Required property */ height: 12em; }

.uniForm .formHint,
.uniForm .blockLabels .formHint{ width: 55%; /* <- Required property */ font-size: .9em; color: #777; position: relative; top: -.5em; }

.uniForm .multiField,
.uniForm .blockLabels .multiField{ width: 43%; }
.uniForm .multiField .inlineLabel,
.uniForm .blockLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
.uniForm .multiField .blockLabel,
.uniForm .blockLabels .multiField .blockLabel{ width: 30%; margin: 0 10px 0 0; }
.uniForm .multiField .blockLabel .textInput,
.uniForm .multiField .blockLabel .selectInput,
.uniForm .multiField .blockLabel select,
.uniForm .blockLabels .multiField .blockLabel .textInput,
.uniForm .blockLabels .multiField .blockLabel .selectInput,
.uniForm .blockLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* ------------------------------------------------------------------------------ */

/* .inlineLabels */
.uniForm .inlineLabels .ctrlHolder{}

.uniForm .inlineLabels label,
.uniForm .inlineLabels .label{ width: 20%; /* <- Required property */ margin: .3em 2% 0 0; /* <- Required property */ }

.uniForm .inlineLabels .textInput,
.uniForm .inlineLabels .fileUpload{ width: 35%; /* <- Required property */ }

.uniForm .inlineLabels .selectInput,
.uniForm .inlineLabels select{ width: 35%; /* <- Required property */ }

.uniForm .inlineLabels textarea{  width: 35%; /* <- Required property */ height: 12em; }

.uniForm .inlineLabels .formHint{ margin-top: 0; margin-left: 22%; font-size: .9em; color: #777; position: static; }

.uniForm .inlineLabels .multiField{ width: 60%; /* <- Required property */ margin: 0 0 .3em 0; }
.uniForm .inlineLabels .multiField .inlineLabel{ display: block; margin: 0 0 .5em 0; }
.uniForm .inlineLabels .multiField .blockLabel{ float: left; width: 26%; margin: 0 3% 0 0; }
.uniForm .inlineLabels .multiField .blockLabel .textInput,
.uniForm .inlineLabels .multiField .blockLabel .selectInput,
.uniForm .inlineLabels .multiField .blockLabel select{ width: 100%; margin: .3em 0 0 0; }

/* Focus pseudoclasses */
.uniForm .ctrlHolder .textInput:focus{ outline: none; /* Get rid of the "glow" effect in WebKit, optional */ }
.uniForm .ctrlHolder textarea:focus{ outline: none; /* Get rid of the "glow" effect in WebKit, optional */ }
.uniForm div.focused .formHint{ color: #333; }

/* Columns (they are floated left by default) */
.uniForm .col{ width: 37.9%; /* <- Required property */ margin: 0 2% 20px 0; }
/* Use .first and .last classes to control the layout/spacing of your columns */
.uniForm .col.first{ width: 39%; /* <- Required property */ float: left; clear: none; }
.uniForm .col.last{ width: 39%; /* <- Required property */ float: right; clear: none; margin-right: 0; }

/* Messages */
.uniForm #errorMsg, .confirmpassworderror{ background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px; }
.uniForm .error{ background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; }

.uniForm #errorMsg dt, .uniForm #errorMsg h3{ margin: 0 0 .5em 0; font-size: 100%; line-height: 100%; font-weight: bold; }
.uniForm #errorMsg dd{ margin: 0; padding: 0; }
.uniForm #errorMsg ol{ margin: 0; padding: 0; list-style:none;}
.uniForm #errorMsg ol li{ margin: 0; padding: 2px; list-style-position: inside; border-bottom: 1px dotted #df7d7d; position: relative; }
.uniForm .errorField{ color: #af4c4c; margin: 0 0 6px 0; padding: 4px; background: #ffbfbf; }

.uniForm #OKMsg, .confirmpasswordok{ background: #C8FFBF; border: 1px solid #A2EF95; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px; }
.uniForm #OKMsg p{ margin: 0; }

/* ------------------------------------------------------------------------------ */

/* This is the main unit that contains our form elements */

.uniForm .textInput, .uniForm .selectInput, .uniForm textarea {
    background:#FFFFFF none repeat scroll 0 0;
    color: #000000;
    border: 1px solid #DFDFDF;
    padding: 1px;
}

/* jquery-ui-custom
-------------------------------------------------------------- */
.ui-datepicker-calendar thead tr th {
    background-image:none;
    background-color:#FFFFFF;
    color:#000000;
}
.ui-widget { font-family: "Trebuchet MS", Arial, sans-serif; font-size: 100%; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: "Trebuchet MS", Arial, sans-serif; font-size: 100%; }
ul.ui-autocomplete { max-height: 250px; overflow-y: auto; min-width: 85px;}
.ui-combobox { position: relative; display: inline-block; margin-right: 17px; }
.ui-combobox-toggle { position: absolute !important; top: 0; bottom: 0; margin-left: -1px; padding: 1px !important; background: none repeat scroll 0 0 #FFFFFF !important; border: 1px solid #DFDFDF !important;}
.ui-combobox-input { background: none repeat scroll 0 0 #FFFFFF !important; border: 1px solid #DFDFDF !important; padding: 1px; font-weight: normal !important; }
.panel_install_package .ui-combobox { float: left; }
.clear-float { clear: both; }

a.link-page, span.page-spacer {
    display: inline-block;
    text-align: center;
    padding: 2px;
    line-height: 16px;
    text-decoration: none !important;
    color: inherit !important;
    min-width: 16px;
}
a.link-page {
    border: 1px solid #FFFFFF;
    margin: 0 5px;
}

a.link-page:hover {
    background-color: #DFDFDF;
}

span.page-spacer {
    margin: 0 -5px;
}

a.link-page.current-page {
    background-color: #DFDFDF;
    font-weight: bold;
}

.command {
    padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
    font-family: Courier New, Courier, mono;
    font-size: 12px;
    font-style: italic;
}
.system {
    color: black;
    font-family: Courier New, Courier, mono;
    font-size: 12px;
    font-style: italic;
}
.highlight {
    color: #FF0000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-decoration: underline;
}